# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
ENV/
.venv/

# Streamlit specific
.stcache/
.streamlit/

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*.cover

# Build files
build/
dist/
*.egg-info/

# Other files
*.DS_Store
*.tgz
*.zip
